@font-face {
  font-family: Montserrat;
  font-weight: 500 700;
  src: url("./assets/fonts/Montserrat.ttf");
}

@font-face {
  font-family: Fraunces;
  font-weight: 700;
  src: url("./assets/fonts/Fraunces.ttf");
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --darker-cyan: hsl(157 46% 17%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --weight-1: 500;
  --weight-2: 700;
}

body {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: var(--weight-1);
  background-color: var(--cream);
  color: var(--grayish-blue);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: .7rem;
  background-color: var(--white);
}

picture {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.product-image {
  object-fit: contain;
  width: 100%;
  height: auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.product {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  /*! padding: 1.2rem; */
  padding: 1.2rem 1.5rem 1.2rem 1.2rem;
}

.title {
  font-weight: var(--weight-1);
  font-size: .7rem;
  letter-spacing: .3rem;
}

h1 {
  font-family: Fraunces;
  line-height: 1.0;
  color: var(--dark-blue);
  font-size: 2rem;
}

.description {
  font-weight: var(--weight-1);
  font-size: .9rem;
  line-height: 1.6;
}

.price {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  flex-direction: row;
}

.tag {
  font-family: Fraunces;
  font-size: 2rem;
  color: var(--dark-cyan);
}

.from {
  font-size: .9rem;
  text-decoration: line-through;
}

button {
  display: flex;
  padding: .8rem;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  width: 100%;
  border-radius: .4rem;
  border: none;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-size: .9rem;
  font-weight: var(--weight-2);
}

button:hover {
  background-color: var(--darker-cyan);
}

@media screen and (min-width: 50rem) {
  .container {
    flex-direction: row;
  }

  .product {
    justify-content: space-between;
    padding: 2rem;
  }

  picture {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  .product-image {
    max-width: 300px;
    border-top-left-radius: inherit;
    border-top-right-radius: unset;
    border-bottom-left-radius: inherit;
  }

  .product {
    max-width: 300px;
  }
}
